{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="container-fluid custom-container be-detail-container">
			<h2 class="content-title">Shortcodes</h2>

			<div class="subblock custom-element">
				<h3 class="subblock-title">Buttons</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<a class="btn color-1 size-1 hover-1"><i class="fa fa-hand-o-up"></i>call to action</a>

						<a class="btn color-1 size-1 hover-1">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-2 size-1 hover-3"><i class="fa fa-hand-o-up"></i>call to action</a>
						<a class="btn color-2 size-1 hover-3">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-3 size-1 hover-5"><i class="fa fa-hand-o-up"></i>call to action</a>
						<a class="btn color-3 size-1 hover-5">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-4 size-1 hover-7"><i class="fa fa-hand-o-up"></i>call to action</a>
						<a class="btn color-4 size-1 hover-7">call to action</a>
						<div class="clearfix"></div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<a class="btn color-1 size-2 hover-1"><i class="fa fa-plus"></i>call to action</a>
						<a class="btn color-1 size-2 hover-1">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-2 size-2 hover-3"><i class="fa fa-plus"></i>call to action</a>
						<a class="btn color-2 size-2 hover-3">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-3 size-2 hover-5"><i class="fa fa-plus"></i>call to action</a>
						<a class="btn color-3 size-2 hover-5">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-4 size-2 hover-7"><i class="fa fa-plus"></i>call to action</a>
						<a class="btn color-4 size-2 hover-7">call to action</a>
						<div class="clearfix"></div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<a class="btn color-1 size-3 hover-1">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-2 size-3 hover-3">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-3 size-3 hover-5">call to action</a>
						<div class="clearfix"></div>

						<a class="btn color-4 size-3 hover-7">call to action</a>
						<a class="btn color-4 size-3 hover-7">call to action</a>
						<a class="btn color-1 size-3 hover-1">call to action</a>
						<div class="clearfix"></div>						
					</div>																		
				</div>
			</div>

			<div class="subblock">
				<h3 class="subblock-title">Inputs</h3>
				<div class="row">
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group">
							<input class="form-input" type="text" placeholder="Input text">
						</div>
						<div class="form-group fg_icon color-4">
							<input class="form-input" type="text" placeholder="Input text">

							<i class="form-group-icon fa fa-file-o"></i>
						</div>							
					</div>
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group fg_icon">
							<input class="form-input" type="text" placeholder="Input text">
							<i class="form-group-icon fa fa-file-o"></i>
						</div>
					</div>
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group fg_icon color-2">
							<input class="form-input" type="text" placeholder="Input text">
							<i class="form-group-icon fa fa-file-o"></i>
						</div>					
					</div>
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group fg_icon color-3">
							<input class="form-input" type="text" placeholder="Input text">
							<i class="form-group-icon fa fa-file-o"></i>
						</div>					
					</div>	
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group fg_icon color-3">
							<input class="be-error-input" type="text" placeholder="Input text" value="Error message">
						</div>					
					</div>
					<div class="input-col col-xs-12 col-sm-3">
						<div class="form-group fg_icon color-3">
							<input class="be-focus-input" type="text" placeholder="Input text" value="Focus input">
						</div>					
					</div>														
				</div>
			</div>

			<div class="subblock">
				<h3 class="subblock-title">Drop downs</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="be-drop-down">
							<i class="fa fa-picture-o"></i>
							<span class="be-dropdown-content"> Call to action </span>
							<ul class="drop-down-list">
								<li><a>Featured</a></li>
								<li><a>Most Appreciated</a></li>
								<li><a>Most Viewed</a></li>
								<li><a>Most Discussed</a></li>
								<li><a>Most Recent</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="be-drop-down color-2">
							<i class="fa fa-picture-o"></i>
							<span class="be-dropdown-content"> Call to action </span>
							<ul class="drop-down-list">
								<li><a>Featured</a></li>
								<li><a>Most Appreciated</a></li>
								<li><a>Most Viewed</a></li>
								<li><a>Most Discussed</a></li>
								<li><a>Most Recent</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="be-drop-down color-3">
							<i class="fa fa-picture-o"></i>
							<span class="be-dropdown-content"> Call to action </span>
							<ul class="drop-down-list">
								<li><a>Featured</a></li>
								<li><a>Most Appreciated</a></li>
								<li><a>Most Viewed</a></li>
								<li><a>Most Discussed</a></li>
								<li><a>Most Recent</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="be-drop-down color-4">
							<i class="fa fa-picture-o"></i>
							<span class="be-dropdown-content"> Call to action </span>
							<ul class="drop-down-list">
								<li><a>Featured</a></li>
								<li><a>Most Appreciated</a></li>
								<li><a>Most Viewed</a></li>
								<li><a>Most Discussed</a></li>
								<li><a>Most Recent</a></li>
							</ul>
						</div>
					</div>															
				</div>
			</div>

			<div class="subblock">
				<h3 class="subblock-title">Navigation Elements</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="form-checkbox">
						    <input id="ch1" type="checkbox" value="" /> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch1">Explore an exhibition</label>
						</div>
						<div class="form-checkbox">
						    <input id="ch2" type="checkbox" value=""/> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch2">See the exhibition's details</label>
						</div>
						<div class="form-checkbox">
						    <input id="ch3" type="checkbox" value=""/> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch3">Lorem ipsum dolor sit amet</label>
						</div>												
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="form-checkbox style-2">
						    <input id="ch4" type="radio" value="" name="radio-c" /> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch4">Explore an exhibition</label>
						</div>
						<div class="form-checkbox style-2">
						    <input id="ch5" type="radio" value="" name="radio-c" /> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch5">See the exhibition's details</label>
						</div>
						<div class="form-checkbox style-2">
						    <input id="ch6" type="radio" value="" name="radio-c" /> <span class="check"><i class="fa fa-check"></i></span>
						    <label for="ch6">Lorem ipsum dolor sit amet</label>
						</div>												
					</div>		
					<div class="col-sm-3">	
                		<div class="swiper-arrow-left type-1 be-out"></div>
                		<div class="swiper-arrow-right type-1 be-out"></div>
                		<div class="swiper-arrow-left type-2 be-out"></div>
                		<div class="swiper-arrow-right type-2 be-out"></div>
					</div>		
					<div class="col-sm-3">	
						<div class="swiper-container" data-autoplay="5000" data-loop="0" data-speed="800" data-center="0" data-slides-per-view="1">	
							<div class="swiper-wrapper">
								<div class="swiper-slide swiper-slide-visible swiper-slide-active active">	</div>
								<div class="swiper-slide"></div>
								<div class="swiper-slide"></div>
							</div>
							<div class="pagination">	

							</div>
						</div>
					</div>		
				</div>
			</div>

			<div class="subblock">
				<h3 class="subblock-title">Text List</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<ul class="styled">
							<li>Explore an exhibition</li>
							<li>See the exhibition's details</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Duis laoreet, diam sed egestas</li>
							<li>Praesent ut aliquet enim</li>
							<li>Quisque consectetur vitae dolor</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
						<ul class="styled style-2">
							<li>Explore an exhibition</li>
							<li>See the exhibition's details</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Duis laoreet, diam sed egestas</li>
							<li>Praesent ut aliquet enim</li>
							<li>Quisque consectetur vitae dolor</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
						<ul class="styled style-3">
							<li><i class="fa fa-music"></i>Explore an exhibition</li>
							<li><i class="fa fa-bullhorn"></i>See the exhibition's details</li>
							<li><i class="fa fa-picture-o"></i>Lorem ipsum dolor sit amet</li>
							<li><i class="fa fa-video-camera"></i>Duis laoreet, diam sed egestas</li>
							<li><i class="fa fa-heart"></i>Praesent ut aliquet enim</li>
							<li><i class="fa fa-paper-plane"></i>Quisque consectetur vitae dolor</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
						<ol class="styled">
							<li>Explore an exhibition</li>
							<li>See the exhibition's details</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Duis laoreet, diam sed egestas</li>
							<li>Praesent ut aliquet enim</li>
							<li>Quisque consectetur vitae dolor</li>
						</ol>
					</div>															
				</div>				
			</div>


			<div class="subblock">
				<h3 class="subblock-title">Messages</h3>
				<div class="alert style-1 fade in" role="alert">
                  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                  	<div class="alert-title">Message title here</div>
                  	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.
                </div>
				<div class="alert style-2 fade in" role="alert">
                  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                  	<div class="alert-title">Message title here</div>
                  	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.
                </div>
				<div class="alert style-3 fade in" role="alert">
                  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                  	<div class="alert-title">Message title here</div>
                  	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.
                </div>                                
			</div>															
		</div>
	</div>
	
	{% endblock %}