<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<title>Twin</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="{% static 'img/logo-22.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'style/icon.css' %}">
		<link rel="stylesheet" href="{% static 'style/loader.css' %}">
		<link rel="stylesheet" href="{% static 'style/idangerous.swiper.css' %}">
		<link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
		<link rel="stylesheet" href="{% static 'style/jquery-ui.css' %}">


		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="style/ie-9.css" />
		<![endif]-->
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body class="page-login">

	<!-- THE LOADER -->

<div class="be-loader">
    	<div class="spinner">
			<img  src="{% static 'img/logo-red.png' %}"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<header>
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
<div class="brand-be">
	<a href="/author-login">
		<img class=" be_logo logo-c active"  src="{% static 'img/logo-red.png' %}" alt="logo" style="width: 63px; height: 37px;">

	</a>
</div>
				<div class="login-header-block">
					<div class="login_block">
						<a class="notofications-popup" href="./">
							<i class="fa fa-bell-o"></i>
							<span class="noto-count">23</span>
						</a>
						<div class="noto-popup notofications-block">
						<div class="m-close"><i class="fa fa-times"></i></div>
							<div class="noto-label">Notificaciones</div>
							<div class="noto-body">
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c1.png' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Agustin Olivera</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<a href="" class="noto-message">Empezó a seguirte</a>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c6.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="/page1">Shanel Reyes</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												Saved “<a href="">Omni-onepage app template</a>” to Inspiration
												<a class="portfolio-link type-2 clearfix" href="/page1">
													<img src="{% static 'img/p_link_23.jpg' %}" alt="">
													<img src="{% static 'img/p_link_31.jpg' %}" alt="">
													<img src="{% static 'img/p_link_32.jpg' %}" alt="">
													<img src="{% static 'img/p_link_33.jpg' %}" alt="">
													<img src="{% static 'img/p_link_34.jpg' %}" alt="">
													<div class="color_bg">
														<span>view portfolio</span>
														<span class="child"></span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c7.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">v-a studio</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												<a class="noto-left" href="">
													<img src="{% static 'img/n_pop_1.jpg' %}" alt="">
												</a>
												Saved “<a href="">Omni-onepage app template</a>” to Inspiration
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c8.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Hoang Nguyen</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												<a class="noto-left" href="">
													<img src="{% static 'img/n_pop_2.jpg' %}" alt="">
												</a>
												Awesome, love the big whitespace and also everything between :)
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c9.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Cüneyt ŞEN</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<a href="" class="noto-message">
												Start following your work
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="messages-popup" href="">
							<i class="fa fa-envelope-o"></i>
							<span class="noto-count">4</span>
						</a>
						<div class="noto-popup messages-block">
						    <div class="m-close"><i class="fa fa-times"></i></div>
							<div class="noto-label">Tus mensajes <span class="noto-label-links"><a href="/messages">eliminar</a><a href="/chat/">Ver todos</a></span></div>
							<div class="noto-body">
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c1.png' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Ravi Sah</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">Sed velit mauris, pulvinar sit amet accumsan vitae, egestas, pulvinar sit amet accumsan vitae, egestas</div>
										</div>
									</div>
								</div>
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c6.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Louis Paquet</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
											Pellentesque habitant morbi tristique senectus et netus tristique senectus
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{% static 'img/c9.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Cüneyt ŞEN</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												Sed id erat vitae libero malesuada dictum vel sit amet eros
											</div>
										</div>
									</div>
								</div>
								<div class="noto-entry style-2">
									<div class="noto-content clearfix">
										<div class="noto-img">
											<a href="">
												<img src="{%static 'img/c10.jpg' %}" alt="" class="be-ava-comment">
											</a>
										</div>
										<div class="noto-text">
											<div class="noto-text-top">
												<span class="noto-name"><a href="">Tomasz Mazurczak</a></span>
												<span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
											</div>
											<div class="noto-message">
												In molestie libero quis cursus ullamcorper eu rhoncus magna
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="be-drop-down login-user-down">
							<img class="login-user" src="{% static 'img/login.jpg' %}" alt="">
							<span class="be-dropdown-content"><span>Héctor</span></span>
							<div class="drop-down-list a-list" style="border-style: bold">
								<a href="/activity">Perfil</a>


								<a href="" data-toggle="modal" data-target="#grupo">Crear grupo</a>
								<a href="/author-edit">Editar perfil</a>
								<a href="/login">Salir</a>
							</div>
						</div>
					</div>
				</div>
				<div class="header-menu-block" style="font-family: 'Conv_helveticaneuecyr-bold'; ">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one" >

						<li><a href="/search">Entradas</a></li>
								<li><a href="/people">Personas</a></li>
								<li><a href="/grupos">Grupos</a></li>
						<li><a href="/author-login">Perfil</a></li>


					</ul>
				</div>
			</div>

		</div>
	</header>

	<!-- Modal -->
  <div class="modal fade" id="grupo" role="dialog" >
    <div class="modal-dialog" >

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title">Crear Grupo</h4></center>
        </div>
        <center>

					<div class="sec"  data-sec="basic-information">
						<div class="be-large-post">
							<div class="info-block style-2">
								<div class="be-large-post-align "><h3 class="info-block-label">Informacion Basica</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="be-change-ava">
									<a class="be-ava-user style-2" href="">
										<img src="{% static 'img/ava_10.jpg' %}" alt="">
									</a>
									<a class="btn color-4 size-2 hover-7">Imagen del Grupo</a>
								</div>
							</div>
							<div class="be-large-post-align">
								<div class="row">

									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Nombre del Grupo</div>
											<input class="form-input" type="text" >
										</div>
									</div>

									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Tema del Grupo</div>
											<input class="form-input" type="text" >
										</div>
									</div>
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Descripcion</div>
											<textarea class="form-input"></textarea>

										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-label">Estado</div>
										<div class="be-drop-down icon-none">
											<span class="be-dropdown-content"> United Kingdom </span>
											<ul class="drop-down-list">
												<li><a>USA</a></li>
												<li><a>India</a></li>
												<li><a>Mexica</a></li>
												<li><a>Russia</a></li>
												<li><a>Italy</a></li>
											</ul>
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-group focus-2">
											<div class="form-label">Ciudad</div>
											<input class="form-input" type="text" value="Barnsley">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>


					<div class=" sec" data-sec="web-references">
						<div class="be-large-post">
							<div class="info-block style-2">
								<div class="be-large-post-align"><h3 class="info-block-label">Participantes</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="row">
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Nombre del participante que quieres agregar</div>
											<input class="form-input" type="text" >
										</div>
									</div>

										<a href="" class="btn full btn-input color-1 size-4 hover-1" style="width: 200px">Agregar</a>

								</div>
							</div>
						</div>
					</div>
					<a class="btn full color-1 size-1 hover-1 add_section"><i class="fa fa-plus"></i>Agregar Unidad</a>

				</center>
        <div class="modal-footer">
          <center><button type="button" class="btn color-1 size-4 hover-3" data-dismiss="modal" style='display:none;'></button>
          <button type="button" class="btn color-1 size-4 hover-3" data-dismiss="modal">Crear Grupo</button></center>
        </div>
      </div>

    </div>
  </div>





{% block content %}

{% endblock %}



<!--***************************************************************************************************************-->

	<footer>
		<div class="footer_slider">
			<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
	            <div class="swiper-wrapper">
	            	<div class="swiper-slide active" data-val="0">

						<a href="/blog-detail/">				<img class="img-responsive img-full" src="{% static 'img/f1.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="1">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f2.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="2">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f3.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="3">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f4.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="4">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f5.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="5">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f6.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="6">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f7.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="7">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f8.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="8">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f9.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="9">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f10.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="10">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f11.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="11">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f12.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="12">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f13.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="13">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f14.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="14">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f15.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="15">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f16.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="16">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f17.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="17">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f18.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="18">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f19.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="19">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f1.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="20">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f2.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="21">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f3.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="22">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f4.jpg' %}" alt="">
	            	 </a></div>
	            	<div class="swiper-slide" data-val="23">
						<a href="/blog-detail/">

	            		 	 <img class="img-responsive img-full" src="{% static 'img/f5.jpg' %}" alt="">
	            	 </a></div>
	            </div>
	            <div class="pagination hidden"></div>
	        </div>
        </div>
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">
					<div class="col-md-4 col-xl-4">
						<div class="footer-block">
							<h1 class="footer-title">Acerca de nosotros</h1>
							<p>Vestibulum tincidunt, augue fermentum accumsan viverra, eros dui rutrum libero, nec imperdiet felis sem in augue luctus <a href="/page1">diam a porta</a> iaculis. Vivamus sit amet fermentum nisl. Duis id <a href="/page1">massa id purus</a> tristique varius a sit amet est. Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc.</p>
							<ul class="soc_buttons">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xl-2">
						<div class="footer-block">
							<h1 class="footer-title">Información</h1>
							<div class="row footer-list-footer">
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="/about-us">Acerca de nosotros</a></li>
									<li><a href="/contact-us">Ayuda</a></li>
									<li><a href="/contact-us">Contacto</a></li>
									<li><a href="/activity">Bolsa de empleo</a></li>
									<li><a href="/activity">Proyectos</a></li>
								</ul></div>
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="/faq">FAQ</a></li>
								</ul>
								</div>
							</div>
						</div>
					</div>



					<div class="col-md-4">
						<div class="footer-block">
							<h1 class="footer-title">Subscribete a nuestras noticias</h1>
							<form action="./" class="subscribe-form">
								<input type="text" placeholder="Email" required>
								<div class="submit-block">
									<i class="fa fa-envelope-o"></i>
									<input type="submit" value="">
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">

			</div>
		</div>
	</footer>

	<div class="be-fixed-filter"></div>

	<div class="large-popup login">
		<div class="large-popup-fixed"></div>
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="./" class="popup-input-search">
						<div class="col-md-6">
							<input class="input-signtype" type="email" required="" placeholder="Your email">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="password" required="" placeholder="Password">
						</div>
						<div class="col-xs-6">
							<div class="be-checkbox">
							<label class="check-box">
								    <input class="checkbox-input" type="checkbox"/> <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									Stay signed in
								</span>
							</div>

							<a href="" class="link-large-popup">Forgot password?</a>
						</div>
						<div class="col-xs-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="SIGN IN">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="large-popup register">
		<div class="large-popup-fixed"></div>
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Register</h5>
						</div>
						<form action="./" class="popup-input-search">
						<div class="col-md-6">
							<input class="input-signtype" type="text" required="" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="text" required="" placeholder="Last Name">
						</div>
						<div class="col-md-6">
							<div class="be-custom-select-block">
							<select class="be-custom-select">
								<option value="" disabled selected>
									Country
								</option>
								<option value="">USA</option>
								<option value="">Canada</option>
								<option value="">England</option>
							</select>
							</div>
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="text" required="" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="text" required="" placeholder="Password">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="text" required="" placeholder="Repeat Password">
						</div>
						<div class="col-md-12 be-date-block">
							<span class="large-popup-text">
								Date of birth
							</span>
							<div class="be-custom-select-block mounth">
								<select class="be-custom-select">
									<option value="" disabled selected>
										Mounth
									</option>
									<option value="">January</option>
									<option value="">February</option>
									<option value="">March</option>
									<option value="">April</option>
									<option value="">May</option>
									<option value="">June</option>
									<option value="">July</option>
									<option value="">August</option>
									<option value="">September</option>
									<option value="">October</option>
									<option value="">November</option>
									<option value="">December</option>
								</select>
							</div>
							<div class="be-custom-select-block">
								<select class="be-custom-select">
									<option value="" disabled selected>
										Day
									</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
									<option value="">6</option>
									<option value="">7</option>
									<option value="">8</option>
									<option value="">9</option>
									<option value="">10</option>
									<option value="">11</option>
									<option value="">12</option>
									<option value="">13</option>
									<option value="">14</option>
									<option value="">15</option>
									<option value="">16</option>
									<option value="">17</option>
									<option value="">18</option>
									<option value="">19</option>
									<option value="">20</option>
									<option value="">21</option>
									<option value="">22</option>
									<option value="">23</option>
									<option value="">24</option>
									<option value="">25</option>
									<option value="">26</option>
									<option value="">27</option>
									<option value="">28</option>
									<option value="">29</option>
									<option value="">30</option>
								</select>
							</div>
							<div class="be-custom-select-block">
								<select class="be-custom-select">
									<option value="" disabled selected>
										Year
									</option>
									<option value="">1996</option>
									<option value="">1997</option>
									<option value="">1998</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="be-checkbox">
								<label class="check-box">
								    <input class="checkbox-input" type="checkbox" required="" value=""/> <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									I have read and agree to the <a class="be-popup-terms" href="">Terms of Use</a> and <a class="be-popup-terms" href="">Privacy Policy</a>.
								</span>
							</div>
							<div class="be-checkbox">
								<label class="check-box">
								    <input class="checkbox-input" type="checkbox" value=""/> <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									Send me notifications
								</span>
							</div>
						</div>
						<div class="col-md-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="SIGN IN">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- SCRIPT	-->
	<script src="{% static 'script/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'script/jquery-ui.min.js' %}"></script>
	<script src="{% static 'script/bootstrap.min.js' %}"></script>
	<script src="{% static 'script/idangerous.swiper.min.js' %}"></script>
	<script src="{% static 'script/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'script/jquery.countTo.js' %}"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script src="{% static 'script/map.js' %}"></script>
	<script src="{% static 'script/jquery.mixitup.js' %}"></script>
	<script src="{% static 'script/filters.js' %}"></script>
	<script src="{% static 'script/jquery.viewportchecker.min.js' %}"></script>

	<script src="{% static 'script/jquery.countTo.js' %}"></script>

	<script src="{% static 'script/jquery.canvasjs.min.js' %}"></script>

	<script src="{% static 'script/sorttable.js' %}"></script>


	<script src="{% static 'script/global.js' %}"></script>



	</body>
</html>